<div id="content">
    <h3>Mpox: Global Overview and Current Impact</h3>
    <p>
        Mpox (formerly known as monkeypox) is a viral disease that has garnered increasing attention due to recent
        outbreaks worldwide. While traditionally confined to parts of Africa, it has spread to other regions, raising
        concerns about global health. Mpox is transmitted through close contact with infected individuals or animals and
        can lead to flu-like symptoms, rashes, and complications in severe cases.

        The purpose of this website is to provide up-to-date, detailed statistics and insights on Mpox cases around the
        world. By offering real-time data, country-specific reports, and preventive information, we aim to inform and
        support global efforts in monitoring and combating the spread of Mpox.
    </p>

    <h3>Prevention and Awareness:</h3>
    <p><strong>Symptoms and Treatment:</strong></p>
    <ul>
        <li><strong>Recognizing Mpox Symptoms:</strong> Mpox typically begins with flu-like symptoms such as fever,
            headache, muscle
            aches, and fatigue. Within a few days, a rash develops, often starting on the face and then spreading to
            other parts of the body. The rash progresses to raised bumps and eventually scabs before healing. Swollen
            lymph nodes are another common symptom.</li>
        <li><strong>Available Treatment Options:</strong> While there is no specific treatment for Mpox, supportive care
            is provided to
            manage symptoms. This may include pain relief, hydration, and treating secondary bacterial infections if
            they occur. In some cases, antiviral drugs, such as Tecovirimat, may be prescribed for severe cases.</li>
    </ul>

    <p><strong>Preventive Measures:</strong></p>
    <ul>
        <li><strong>Avoiding Infection:</strong> To reduce the risk of contracting Mpox, avoid close contact with
            infected individuals or animals, especially in areas where Mpox is prevalent. Practice good hygiene, such as
            regular handwashing with soap and water or using hand sanitizer, and avoid sharing personal items like
            bedding or clothing with others.</li>
        <li><strong>Vaccination Information:</strong> Vaccination is a key preventive measure against Mpox. The smallpox
            vaccine has been shown to provide protection against Mpox due to the similarity between the two viruses. For
            those at higher risk, such as healthcare workers or people living in outbreak areas, vaccination may be
            recommended. Consult your healthcare provider for more information on vaccine availability and eligibility.
        </li>
    </ul>
</div>