<header id="header">
    <div class="logo-container">
        <img src="assets/logo.svg" alt="Virus" width="50px">
    </div>
    <nav class="menu">
        <ul>
            <li><a href="#title">Home</a></li>
            <li><a href="#map">Cases Map</a></li>
            <li><a href="#table">Table</a></li>
            <li><a href="#chart-data">Chart</a></li>
            <li><a href="#content">Information</a></li>
            <li><a href="#news">News</a></li>
        </ul>
    </nav>

    <div class="off-screen-menu">
        <ul>
            <li><a href="#title">Home</a></li>
            <li><a href="#map">Cases Map</a></li>
            <li><a href="#table">Table</a></li>
            <li><a href="#chart-data">Chart</a></li>
            <li><a href="#content">Information</a></li>
            <li><a href="#news">News</a></li>
        </ul>
    </div>
    <nav>
        <div class="ham-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>