<footer>
    <div class="footer-container">
        <div class="data-source-container">
            <p><b>Data Source:</b></p>
            <p>
                Edouard Mathieu, Fiona Spooner, Saloni Dattani, Hannah Ritchie and Max Roser (2022) - “Mpox” Published
                online at
                OurWorldInData.org. Retrieved from: <a href="https://ourworldindata.org/mpox"
                    target="_blank">ourworldindata.org/mpox</a>
            </p>
        </div>
        <div class="data-source-container">
            <p><b>More Information:</b></p>
            <ul>
                <li>
                    <p><b>United States: </b> <a href="https://www.cdc.gov/poxvirus/mpox/response/2022/us-map.html"
                            target="_blank">cdc.gov</a></p>
                </li>
                <li>
                    <p><b>Canada: </b> <a
                            href="https://www.canada.ca/en/public-health/services/diseases/mpox/outbreak-update.html"
                            target="_blank">canada.ca</a>
                    </p>
                </li>
                <li>
                    <p><b>Rest of World: </b> <a href="https://www.who.int/about/who-we-are/regional-offices"
                            target="_blank">World
                            Health Organization</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p>&copy; 2024 Mpox Statstcs. All rights reserved.</p>
</footer>